body {
    background-color: rgb(44, 233, 208);
}
.da{
    color: rgb(228, 53, 53);
}

.ad{
    color: rgb(236, 44, 44);
}
.container{
    width: 40%;
    height: 200px;
}
#formulario-link {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: rgb(236, 29, 29);
    text-align: right;
}
